.page-body {
  @include font-base;
  line-height: 1.6;
  display: grid;
  grid-template:
    "header header header header" 10em
    "hero hero hero hero" 45vh
    ". main sidebar ." auto
    "footer footer footer footer" 10em
    / 1fr minmax(35em, 5fr) minmax(15em, 2fr) 1fr;
  grid-column-gap: 1.5em;
}

.page-head {
  grid-area: header;
}

footer {
  grid-area: footer;
}

.page-head,
footer {
  background: $red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  @include font-alt($color: $dark-gray, $font-size: $fs-h2);
}


.footer-title {
  @include font-alt($color: $dark-gray, $font-size: $fs-base);
  a {
    text-decoration: none;
    color: $dark-gray;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px dashed $dark-gray;
  }
}


.hero {
    grid-area: hero;
    background: url(/img/hero-map.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    background-blend-mode: multiply;
}

.hero-title {
  @include font-alt($fs-xl, $red);
  text-shadow: 1px 1px 1px #555;
}

.hero-subtitle {
  @include font-base($color: $white, $font-size: $fs-h2);
}

aside {
  grid-area: sidebar;
  background: $light-gray;
  padding: 2rem;
  margin-right: -4rem;

  a {
    text-decoration: none;
    @include font-alt($color:$red, $font-size: 3rem);
    align-items: center;
    justify-content: center;
  }

  a:hover {
    @include font-alt($color:$dark-gray, $font-size: 3rem);
    background-color: $red;
    padding: .5rem;
    border-radius: 1.5rem;
  }

  ul {
    list-style-type: none;
  }
}

main {
  grid-area: main;
}
